<% include ../partials/header %>

<header class="jumbotron">
    <div class="container">
        <h1>Welcome to YelpCamp</h1>
        <p>Check out these rad campgrounds!</p>
        <p>
            <a class="btn btn-primary btn-md" href="/campgrounds/new">Add new Campground!</a>
        </p>
        <p>
            <form action="/campgrounds" method="GET" class="form-inline">
                <div class="form-group">
                    <input type="text" name="search" placeholder="Search campgrounds..." class="form-control">
                    <input type="submit" value="Search" class="btn btn-default">
                </div>
            </form>
        </p>
    </div>
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap">
    <% campgrounds.forEach(campground => { %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="<%= campground.image %>">
            <div class="caption">
                <h4>
                    <%= campground.name %>
                </h4>
                <div>
                    <span class="badge label-primary"><i class="fas fa-thumbs-up"></i>
                        <%= campground.likes.length %></span>
                </div>
            </div>
            <p>
                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More info</a>
            </p>
        </div>
    </div>
    <% }); %>
</div>
</div>




<% include ../partials/footer %>